{% extends 'base.html' %}


{% block head %}
<title>HOME</title>
{% endblock %}

{% block body %}
<div style="text-align:center;padding:1em 0;"> <h2> <iframe  allowtransparency="true" style="background: #FFFFFF;" src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=America%2FChicago&show=hour_minute" width="20%" height="140" frameborder="0" seamless></iframe> </div>
<div class="forms">
<form action="/slot1" method="post" style="display:inline-block">
      <button class="button" name="showall"  type="submit"> Slot1<br>3:30pm-4:30pm</button>
</form>
<form action="/slot2" method="post" style="display:inline-block">
      <button class="button button2" name="illustrator"  type="submit"> Slot2<br>5:00pm-6:00pm </button>
</form>
<form action="/slot3" method="post" style="display:inline-block">
      <button class="button" name="showall"  type="submit"> Slot3<br>6:30pm-7:30pm</button>
</form>
<form action="/slot4" method="post" style="display:inline-block">
      <button class="button button2" name="showall"  type="submit"> Slot4<br>8:00pm-9:00pm</button>
</form>
<form action="/slot5" method="post" style="display:inline-block">
      <button class="button" name="showall"  type="submit"> Slot5<br>9:30pm-10:30pm</button>
</form>
</div>

<div>
  <a href="/">
        <button class="button" name="showall" > Weekdays</button>
  </a>
  <a href="/Weekends">
        <button class="button button2" name="showall" > Weekends</button>
  </a>


</div>

<div class="content">
  {% set total = [0] %}
    <h1 style="text-align: center">Registrations for the Pool</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no Guests Registered. Register one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Slot</th>
            <th>Room No</th>
            <th>Name</th>
            <th>No of Adults Registered</th>
            <th>No of children Registered</th>
            <th>Registration Time</th>
            <th>Time Updated</th>
            <th>Actions</th>
            <th>Total</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.slot }}</td>
                <td>{{ task.room_no }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.no_adults }}</td>
                <td>{{ task.children }}</td>
                <td>{{ task.time_created.strftime("%I:%M:%S %p") }}</td>
                {% if task.time_updated == None %}
                  <td>None</td>
                {% else %}
                  <td>{{ task.time_updated.strftime("%I:%M:%S %p") }}</td>
                {% endif %}

                <td>
                    <a href="/delete/{{task.id}}" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
                <td>{{ task.no_adults + task.children }}</td>
                {% set _ = total.append(total.pop() + task.no_adults + task.children) %}
            </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td> Grand Total</td>
          <td>{{ total[0] }}</td>
        </tr>
        <!-- {% for slot in slots1 %}
          <p>slot.
        {% endfor %} -->
        {% if total[0] > 160 %}
          <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Pool has been reserved by all the guests!
          </div>
        {% endif %}
        {% if sum_slot1 > 31 %}
          <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Slot 1 is Full!
          </div>
        {% endif %}
        {% if sum_slot2 > 31 %}
          <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Slot 2 is Full!
          </div>
        {% endif %}
        {% if sum_slot3 > 31 %}
          <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Slot 3 is Full!
          </div>
        {% endif %}
        {% if sum_slot4 > 31 %}
          <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Slot 4 is Full!
          </div>
        {% endif %}
        {% if sum_slot5 > 31 %}
          <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Slot 5 is Full!
          </div>
        {% endif %}

    </table>
    {% endif %}
    <div>
    <h2> Total Occupancy! </h2>
    <span>{{(total[0]/160)*100//1}} &#37;</span>
    <h2> Slots Left : </h2>
    <span>{{160-total[0]}}</span>
    </div>
    <!-- <div>
    <h2> Slot3 Occupancy! </h2>
    <span>{{(sum_slot3/32)*100//1}} &#37;</span>
    <h2> Slots Left : </h2>
    <span>{{32-sum_slot3}}</span>
    </div>
    <div>
    <h2> Slot4 Occupancy! </h2>
    <span>{{(sum_slot4/32)*100//1}} &#37;</span>
    <h2> Slots Left : </h2>
    <span>{{32-sum_slot4}}</span>
    </div>
    <h2> Slot5 Occupancy! </h2>
    <span>{{(sum_slot5/32)*100//1}} &#37;</span>
    <h2> Slots Left : </h2>
    <span>{{32 - sum_slot5}}</span>
    </div> -->

<div class="row">
  <div class="column">
    <div class="card my_red_color">
      <h3>Slot 1 Occupancy! <br>1:30pm-2:30pm </h3>
      <p>{{(sum_slot1/32)*100//1}} &#37;</p>
      <p>Slots Left : {{32-sum_slot1}}</p>
    </div>
  </div>

  <div class="column">
    <div class="card my_green_color">
      <h3>Slot 2 Occupancy!</h3>
      <p>{{(sum_slot2/32)*100//1}} &#37;</p>
      <p>Slots Left : {{32-sum_slot2}} </p>
    </div>
  </div>

  <div class="column">
    <div class="card my_red_color">
      <h3>Slot 3 Occupancy!</h3>
      <p>{{(sum_slot3/32)*100//1}} &#37;</p>
      <p>Slots Left : {{32-sum_slot3}}</p>
    </div>
  </div>

  <div class="column">
    <div class="card my_green_color">
      <h3>Slot 4 Occupancy!</h3>
      <p>{{(sum_slot4/32)*100//1}} &#37;</p>
      <p>Slots Left : {{32-sum_slot4}}</p>
    </div>
  </div>

  <div class="column">
    <div class="card my_red_color">
      <h3>Slot 5 Occupancy!</h3>
      <p>{{(sum_slot5/32)*100//1}} &#37;</p>
      <p>Slots Left : {{32-sum_slot5}}</p>
    </div>
  </div>
</div>
<h3 style="text-align: center">Signup here!</h3>
    <div class="form">
        <form action="/" method="POST">
          <p>
            <label>Name of the Guest</label>
            <input type="text" name="name" id ="name" required>
          </p>
            <!-- <input type="text" name="content" id="content"> -->
            <!-- <input type="submit" value="Add Name"> -->
            <p>
              <label>Enter the Room no of the Guest</label>
              <input type="text" name="room_no" id ="room_no" required>
            </p>
            <p>
             <label for="Slots">Choose a Slot:</label>
             <select name="slot" id="slot">
               <option value="Slot1">Slot1</option>
               <option value="Slot2">Slot2</option>
               <option value="Slot3">Slot3</option>
               <option value="Slot4">Slot4</option>
               <option value="Slot5">Slot5</option>
             </select>
            </p>
            <p>
              <label>No of Adults (between 1 and 5) </label>
              <input type="number" name="no_adults" id ="no_adults" min="1" max="5" required>
            </p>
            <!-- <p>
            <label for="quantity">No of Adults (between 1 and 5):</label>
            <input type="number" id="quantity" name="quantity" >
            </p> -->
            <p>
              <label>No of Children </label>
              <input type="text" name="children" id ="children" required>
            </p>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}
